<section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-bark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reviews">Reviews</a>
            </li>


    
    
          </ul>

          <div class=" navbar-nav ml-auto topnav-right">
            <a class="navbar-brand" href="https://github.com/ViggyC" target = "_blank">
              <img class="rounded-circle" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" alt="" width="60" height="30">
            </a>
          </div>
         
        </div>
      </nav>
  </section>